<!DOCTYPE html>
<html>
<head>
	<title>Employee list</title>
</head>
<body>
	<h1>Employee List</h1>

	<a href="/homeAdmin">Back</a> |
	<a href="/logout">logout</a>

<br><br>
	<table border="1">
		<tr>
			<td>Id</td>
			<td>Name</td>
			<td>User Name</td>
			<td>Password</td>
			<td>Email</td>
			<td>User Type</td>
			<td>Action</td>
		</tr>

	<% for(var i=0; i< user.length; i++){ %>
		<tr>
			<td><%= user[i].id %></td>
			<td><%= user[i].name %></td>
			<td><%= user[i].username %></td>
			<td><%= user[i].password %></td>
			<td><%= user[i].email %></td>
			<td><%= user[i].utype %></td>
			<td>
				<a href="/user/delete/<%= user[i].id %>"> DELETE </a>
			</td>
		</tr>

	<% } %>
	</table>
</body>
</html>