<!DOCTYPE html>
<html>
<head>
	<title>User list</title>
</head>
<body>
	<h1>User List</h1>

	<a href="/homeAdmin">Back</a> |
	<a href="/logout">logout</a>

<br><br>
	<table border="1">
		<tr>
			<td>SL. No</td>
			<td>Name</td>
			<td>User Name</td>
			<td>Email</td>
			<td>User Type</td>
			<td>Action</td>
		</tr>

	<% for(var i=0; i< user.length; i++){ %>
		<tr>
			<td><%= i+1 %></td>
			<td><%= user[i].name %></td>
			<td><%= user[i].username %></td>
			<td><%= user[i].email %></td>
			<% if(user[i].utype == 0) { %>
			<td>Admin</td>
			<% }else { %>
			<td>Customer</td>
			<% } %>
			<td>
				<a href="/user/delete/<%= user[i].id %>"> DELETE </a>
			</td>
		</tr>

	<% } %>
	</table>
</body>
</html>