<!DOCTYPE html>
<html>
<head>
	<title>product edit</title>
</head>
<body>
	<h1>Edit Product</h1>

	<a href="/homeAdmin">Back</a> |
	<a href="/logout">logout</a>

<br><br>

<form method="post">
	<table border="0">
		<tr>
			<td>Name</td>
			<td>:</td>
			<td><input type="text" name="name"></td>
		</tr>
		<tr>
			<td>Type</td>
			<td>:</td>
			<td><select name="type">
				<% for(var i=0; i < protype.length; i++) { %>
				<option value="<%= protype[i].typename %>"><%= protype[i].typename %></option>
				<% } %>
			</select>
		</td>
		</tr>
		<tr>
			<td>Subtype</td>
			<td>:</td>
			<td><select name="subtype">
				<% for(var i=0; i < prosubtype.length; i++) { %>
				<option value="<%= prosubtype[i].subtypename %>"><%= prosubtype[i].subtypename %></option>
				<% } %>
				</select>
			</td>
		</tr>
		<tr>
			<td>Image</td>
			<td>:</td>
			<td><input type="file" accept="file_extension|image/*|media_type" name="image" id="image"></td>
		</tr>
		<tr>
			<td>Company</td>
			<td>:</td>
			<td><select name="company">
				<% for(var i=0; i < company.length; i++) { %>
				<option value="<%= company[i].name %>"><%= company[i].name %></option>
				<% } %>
			</select>
		</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>:</td>
			<td><textarea name="description" id="description"></textarea></td>
		</tr>
		<tr>
			<td>Price</td>
			<td>:</td>
			<td><input type="text" name="price"></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td><input type="submit" name="submit" value="Save"></td>
		</tr>
	</table>
</form>
</body>
</html>