<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1><%= product[0].type %></h1>
<br>
	<table>
		<tr>
			<td width="100px"><a href="/homeCustomer">Home</a></td>
			<% for(var i=0; i< prosubtype.length; i++){ %>
			<td width="100px">
				<a href = "/product/<%= product[0].type %>/<%= prosubtype[i].subtypename %>"><%=prosubtype[i].subtypename%></a>
			</td>
				<% } %>
			<td width="100px"><a href="/logout">logout</a></td>
		</tr>
	</table>
	<div style="width: 100%">
		<h3>Products</h3>
		<% for(var i=0; i< product.length; i++) { %>
			<% if(product[i].type == prosubtype[0].typeid){ %>
				<div style="min-width: 250px; height: 250px; float: left;">
					<img src="/images/<%= product[i].image %>" width="220px", height="180 px" alt="<%= product[i].name %>">
					<p>
						<a href="product/details/<%= product[i].id %>"><%= product[i].name %></a>
					</p>
					<p>BDT <%= product[i].price %></p>
				</div>
			<% } %>
	<% } %>
	</div> 
</body>
</html>

