<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
</head>
<body>
	<h1>Home</h1>
<br>
	<table>
	
		<tr>
			<% for(var i=0; i< protype.length; i++){ %>
			<td width="100px">
				<a href = "/product/<%=protype[i].typename%>"><%=protype[i].typename%></a>
			</td>
				<% } %>
			<td><a href="/logout">logout</a></td>
		</tr>
	</table>
	<div style="width: 100%">
		<h3>Laptop</h3>
		<% for(var i=0; i< product.length; i++) { %>
			<% if(product[i].subtype == 'Laptop'){ %>
				<div style="width: 180px; height: 250px; float: left;">
					<img src="/images/<%= product[i].image %>" width="100%", height="180 px" alt="<%= product[i].name %>">
					<p><%= product[i].name %></p>
					<p>BDT <%= product[i].price %></p>
				</div>
			<% } %>
	<% } %>
	</div> 
</body>
</html>

